h5{
    color:rgb(248, 244, 1);
    font-style:bold;
    font-size: larger;
    text-align: center;
   
}
p{
    color:white;
    font-size: medium;
    font-style: italic;

}
body{
    background-color: lightslategray;
}